@model VTYS.Models.Entity.Student
@{
    Layout = "_Layout";
    ViewData["Title"] = "Öğrenci Girişi";
}

<div class="login-container">
    <img src="~/logo-karadeniz-teknik-universite (1).png" alt="Logo">
    <h1>Bilgi Yönetim Sistemi</h1>

    <form method="post" asp-action="Login">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control" name="password" placeholder="Şifre" type="password">
        </div>
        <div>
            <button class="btn btn-primary w-100" type="submit">Giriş Yap</button>
        </div>
    </form>

    <div class="text-center mt-3">
        <a href="@Url.Action("Login", "Instructor")" class="btn btn-secondary">Eğitmen Girişi</a>
    </div>
</div>